@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* --base-- */
body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

/* button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  font-weight: 600;
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
  text-decoration: none;
}

/* hero */
.hero-section {
  padding: 272px 0;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* advantages */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
}
/* section */
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title .accent {
  color: var(--color-brand-dark);
}

/* tradition */
.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.tradition-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.tradition-text .uppercase {
  /*color: var(--color-brand-light);*/
  text-transform: uppercase;
}

/* Chef section */
.chefs-section-title {
  margin-bottom: 80px;
}
.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Format section */
.format-section-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 40px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Contacts section */
.contacts-title {
  margin-bottom: 16px;
}

/* Footer */
.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
  text-decoration: none;
}

.address-copyright {
  font-size: 14px;
  font-weight: 300;
}
