@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a18268;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
}

/* --base-- */
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

/* button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  font-weight: 600;
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
  text-decoration: none;
}

/* header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* hero */
.hero-section {
  padding: 272px 0;
  background-image: url("../images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* advantages */
.advantages-section {
  padding: 16px;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--color-primary-light);
}
/* section */
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-dark);
}

/* tradition */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.tradition-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.tradition-text .uppercase {
  /*color: var(--color-brand-normal);*/
  text-transform: uppercase;
}

.tradition-text.limited {
  max-width: 340px;
}

/* Chef section */
.chefs-section-title {
  max-width: 520px;
  margin: 0 auto 80px;
}

.chefs-section-title::before,
.chefs-section-title::after {
  display: block;
  width: 352px;
  height: 2px;
  background-color: var(--color-brand-light);
  content: "";
}

.chefs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 2px 0 var(--color-secondary-dark);
}
.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

/* Format section */
.format-section-title {
  margin-bottom: 80px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
  flex-wrap: wrap;
}

.format-title {
  font-size: 40px;
  font-weight: 600;
}

.format-card {
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid lightgray; /*remove*/
  border-radius: 16px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Carousel*/
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* Contacts section */
.contacts-section {
  padding-bottom: 96px;
}

.contacts-title {
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  gap: 32px;
  flex-basis: calc((100% - 32px) / 2);
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
}
/* Footer */

.footer-container {
  display: flex;
  gap: 20px;
  padding: 32px 100px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-basis: 50%;
  gap: 20px;
}

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-normal);
  font-weight: 600;
  text-decoration: none;
}

.address-list {
  flex-basis: 50%;
}

.address-info {
  flex-basis: 50%;
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-copyright {
  font-size: 14px;
  font-weight: 300;
}

.footer {
  background-image: url("../images/footer-background-transparent.png");
  background-color: #31261a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
